# Configuración de Base de Datos
DB_HOST=tu_host_mysql
DB_NAME=tu_base_de_datos
DB_USERNAME=tu_usuario
DB_PASSWORD=tu_password

# Configuración de la Aplicación
APP_NAME=ChatBETO
APP_ENV=production
APP_DEBUG=false

# Configuración del Servidor Web
WEB_PORT=80
WEB_HOST=localhost